.user {
    background-color: rgb(55, 52, 139);
    height: 42px;
    padding: 12px 18px;
    line-height: 21px;
    color: white;
}

.user__balance--debt {
    color: red;
}

.user__deposit {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    top: 48px;
    right: 48px;
    z-index: 9;
}
