a {
    cursor: pointer;
}

.row {
    margin-bottom: 15px;
}

.user {
    height: 42px;
    padding: 6px 18px;
    line-height: 21px;
    color: white;
    z-index: 3;
}

.user__avatar {
    width: 36px;
    margin-top: -3px;
}

.user__logout {
    margin-top: -3px;
}

.user__deposit {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    top: 48px;
    right: 48px;
    z-index: 9;
    min-width: 300px;
}

.user__transactions {
    color: #555;
    margin: 9px 0 0 0;
}

.user__transactions .transaction--debit {
    color: green;
}

.user__transactions .transaction--credit {
    color: #CA3A3A;
}

.user__transactions .transaction--credit:before {
    content: "-";
}

.booking {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
}

.booking__title {
    border-bottom: 1px solid #ccc;
    padding: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.booking__title .row {
    margin-bottom: 0;
}

.booking--closed .booking__title {
    background: #f2dede;
}

.booking--open .booking__title {
    background: #dff0d8;
}

.booking__attendance {
    line-height: 3em;
}

.booking__time {
    font-weight: bold;
} 

.booking__content {
    padding: 6px;
    max-height: 120px;
}

.booking__players {
    margin: 0;
}

.booking__actions {
    border-top: 1px solid #ccc;
    padding: 6px 12px;
    height: 33px;
    text-align: justify;
    font-size: 15px;
}

.booking__actions:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.booking--closed .booking__actions {
    text-align: center;
}

.timepicker .btn {
    padding: 0;
}

.timepicker--inline {
    margin-top: -22px;
}
