a {
    cursor: pointer;
}

.user {
    height: 42px;
    padding: 6px 18px;
    line-height: 21px;
    color: white;
    z-index: 3;
}

.user__avatar {
    width: 36px;
    margin-top: -3px;
}

.user__info a {
    color: white;
}

.user__logout {
    margin-top: -3px;
}

.user__deposit {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    top: 48px;
    right: 48px;
    z-index: 9;
}
