<div ng-controller="BookingsCtrl">
  <div class="row">
    <div class="col-md-12">
      <h2>Bookings</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-xs-12">
      <form class="form-inline" role="form" ng-submit="create()">
        <div class="form-group" ng-controller="DatepickerCtrl">
          <div class="row">
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="new.when.date" datepicker-popup="EEE dd MMM" is-open="isOpen" placeholder="Date" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 timepicker timepicker--inline">
              <timepicker ng-model="new.when.time" minute-step="15" show-meridian="false"></timepicker>
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: -15px">
          <input class="form-control" id="location" ng-model="new.location" placeholder="Where" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </form>
    </div>
    <div class="col-sm-2 col-xs-12 text-right">
      <select ng-model="displayBooking" ng-options="label for (label, value) in bookingFilters"></select>
    </div>
  </div>


  <div class="bookings">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="(i, booking) in bookings.slice().reverse() | filter:displayBooking | orderBy:'time':true">
      <div class="booking booking--{{booking.status | lowercase}}">
        <div class="booking__title">
          <div class="row">
            <div class="col-md-9 col-sm-10 col-xs-9">
              <div class="booking__time">{{booking.time*1000 | date:'EEE dd MMM HH:mm'}}</div>
              <div class="booking__location">{{booking.location}}</div>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3 text-right">
              <div class="booking__attendance">{{totalPlayers(booking)}} / {{booking.courts || "-"}}</div>
            </div>
          </div>
        </div>
        <div class="booking__content">
          <ul class="booking__players list-unstyled row">
            <li class="col-xs-6" ng-repeat="(id, info) in booking.players">{{playerName(id)}}<span ng-show="info.guests"> +{{info.guests}}</span></li>
          </ul>
        </div>
        <div class="booking__actions">
          <span ng-show="booking.status === 'Open'">
            <a ng-show="showJoin(booking)" ng-click="join(booking)" class="booking__action glyphicon glyphicon-plus"></a>
            <a ng-show="!showJoin(booking)" ng-click="leave(booking)" class="booking__action glyphicon glyphicon-minus"></a>
            <a ng-click="info(booking)" class="booking__action glyphicon glyphicon-user"></a>
            <a ng-click="edit(booking)" class="booking__action glyphicon glyphicon-pencil"></a>
            <a ng-show="booking.status !== 'Closed'" ng-click="close(booking)" class="booking__action glyphicon glyphicon-lock"></a>
          </span>
          <a ng-click="complete(booking)" class="booking__action glyphicon glyphicon-thumbs-up"></a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="editBooking.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Booking</h3>
    </div>
    <form role="form" class="form">
      <div class="modal-body">
        <div class="form-group" ng-controller="DatepickerCtrl">
          <div class="row">
            <div class="col-xs-12">
              <label>When</label>
            </div>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="when.date" datepicker-popup="EEE dd MMM" is-open="isOpen" placeholder="Date" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="col-xs-4 timepicker timepicker--inline">
              <timepicker ng-model="when.time" minute-step="15" show-meridian="false"></timepicker>
            </div>
          </div>
        </div>
          <div class="form-group" style="margin-top: -22px">
            <label>Where</label>
            <input class="form-control" ng-model="booking.location" />
          </div>
          <div class="form-group">
            <label>Courts</label>
            <input class="form-control" type="number" ng-model="booking.courts" />
          </div>
          <div class="form-group">
            <label>Cost</label>
            <input class="form-control" type="number" ng-model="booking.cost" />
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="ok()">Update</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </script>

  <script type="text/ng-template" id="editInfo.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit</h3>
    </div>
    <form role="form" class="form">
      <div class="modal-body">
          <div class="form-group">
            <label>Guests</label>
            <input class="form-control" ng-model="info.guests" type="number" />
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="ok()">Confirm</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </script>

</div>
