<div ng-controller="BookingsCtrl">
  <h2>Bookings</h2>

  <form class="form-inline" role="form" ng-submit="create()">
    <div class="form-group">
      <input class="form-control" id="time" ng-model="new.time" placeholder="When" />
    </div>
    <div class="form-group">
      <input class="form-control" id="location" ng-model="new.location" placeholder="Where" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Status</th>
        <th>Courts</th>
        <th>Players</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="booking in bookings.slice().reverse()" ng-class="{'bg-success': booking.status != 'Confirmed', 'bg-danger': booking.status === 'Confirmed'}">
        <td>{{booking.time}}</td>
        <td>{{booking.location}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.courts}}</td>
        <td>
          <p ng-repeat="(id, info) in booking.players">{{playerName(id)}}<span ng-show="info.guests"> +{{info.guests}}</span></p>
          <p class="text-info">Total: {{totalPlayers(booking)}}</p>
        </td>
        <td>
          <span ng-show="booking.status !== 'Confirmed'">
          <a ng-show="showJoin(booking)" ng-click="join(booking)" class="glyphicon glyphicon-plus"></a>
          <a ng-show="!showJoin(booking)" ng-click="leave(booking)" class="glyphicon glyphicon-minus"></a>
          <a ng-click="info(booking)" class="glyphicon glyphicon-user"></a>
          <!--<a ng-click="edit(booking)" class="glyphicon glyphicon-pencil"></a>-->
          <a ng-click="confirm(booking)" class="glyphicon glyphicon-ok"></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <script type="text/ng-template" id="confirmBooking.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Booking</h3>
    </div>
    <form role="form" class="form">
      <div class="modal-body">
          <div class="form-group">
            <label>Courts</label>
            <input class="form-control" ng-model="booking.courts" />
          </div>
          <div class="form-group">
            <label>Cost</label>
            <input class="form-control" ng-model="booking.cost" />
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="ok()">Confirm</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </script>

  <script type="text/ng-template" id="editInfo.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit</h3>
    </div>
    <form role="form" class="form">
      <div class="modal-body">
          <div class="form-group">
            <label>Guests</label>
            <input class="form-control" ng-model="info.guests" type="number" />
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" ng-click="ok()">Confirm</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </script>

</div>
