<div ng-controller="UserCtrl" ng-show="user">
  <div class="col-md-offset-9 col-md-2 user__info">
    <img class="user__avatar" ng-src="{{user.thirdPartyUserData.picture}}" /> {{user.displayName}} | <a ng-click="showDeposit = !showDeposit" class="user__balance" ng-class="{'text-danger': (balance < 0), 'text-success': (balance >= 0)}">{{balance | currency:"£"}}</a>
  </div>
  <div class="col-md-1 user__logout">
    <a ng-click="auth.$logout()"><button class="btn btn-default">Logout</button></a>
  </div>

  <div ng-show="showDeposit" class="user__deposit">
    <button type="button" class="close" ng-click="showDeposit = false"><span aria-hidden="true">&times;</button>
    <form class="form form-inline" role="form" ng-submit="deposit()">
      <div class="form-group">
        <input class="form-control" ng-model="depositAmount" />
      </div>
      <div class="form-group">
        <button class="btn btn-default">Deposit</button>
      </div>
    </form>

    <table class="table user__transactions">
      <tbody>
        <tr ng-repeat="transaction in transactions | orderBy:'timestamp':true | limitTo:8">
          <td>{{transaction.timestamp | date}}</td>
          <td><span ng-class="{'transaction--debit': transaction.type === 'debit', 'transaction--credit': transaction.type === 'credit'}">{{transaction.value | currency:'£'}}</span></td>
        </tr>
      </tbody>
    </table>
</div>
