@import '~bootstrap/dist/css/bootstrap.css';

a {
    cursor: pointer;
}

.loading {
    width: 48px;
    margin: 48px auto;
}

.modal-container {
    position: absolute;
    top: 0;
    padding: 5% 0;
    width: 100%;
}
