@import '~bootstrap/dist/css/bootstrap.css';

a {
    cursor: pointer;
}

.loading {
    width: 48px;
    margin: 48px auto;
}

.modal-container {
    position: absolute;
    top: 0;
    padding: 5% 0;
    width: 100%;
}

.booking {
    width: 48%;
    margin: 1%;
    float: left;
}

.booking:nth-child(odd) {
    clear: both;
}
